<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="kr.co.gudi.dao.BoardDAO">	

	<select id="boardList" resultType="kr.co.gudi.dto.BoardDTO">
		select 
			b.idx, 
			b.subject, 
			b.user_name, 
			b.bHit, 
			(select count(idx) from photo p where b.idx = p.idx) as img 
		from bbs b
	</select>
	
</mapper>